setuptools
mock
django==1.10.5
django-bootstrap3==8.1.0
coverage==4.3.4
Pillow==4.0.0
django-bootstrap-form
django-model-utils
django-nose
httplib2
nose
pytest
oauth2
oauthlib
requests
requests-oauthlib
python-social-auth==0.2.21
social-auth-app-django
social-auth-core
