pytest
packaging==16.8
pyparsing==2.2.0
appdirs==1.4.3
mock
django==1.10.5
django-bootstrap3==8.1.0
coverage==4.3.4
django-bootstrap-form
django-model-utils
django-nose
httplib2
nose
oauth2
oauthlib
Pillow
requests
requests-oauthlib
social-auth-app-django
social-auth-core
