{% extends 'todolist/base.html' %}

{% block title %}Quizzes{% endblock %}

{% block body %}

<header id="quizzesHeader" class="headerLine">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="clearfix">
                    <div>
                        <h1 class="header-title">Quizzes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<ul>
    <center><h2>Available Quizzes</h2></center>
    {% if object_list %}
    {% for quiz in object_list %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <li class="list-group-item" onclick="location.href='/quizzes/{{quiz.url}}/'" id="quiz_list_item"
                    title="Details">
                    <h4> {{ quiz.title }} </h4>
                </li>
            </div>
        </div>
    </div>
    {% endfor %}<br>

    <center><h2>Completed Quizzes</h2></center>

    {% for quiz in object_list %}

    {% if quiz.sitting.complete %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <li class="list-group-item" id="quiz_list_item" title="Details">

                    <a href="{% url 'quizzes:quiz_take' quiz.url %}"> {{ quiz.title }} </a>

                </li>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}


    {% else %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">You do not have any quizzes to take yet</h4>
            </li>
            {% endif %}
        </div>
    </div>
</ul>
{% endblock %}

