{% extends 'todolist/base.html' %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block body %}


{% if not user.is_authenticated %}
    <p>This quiz is only accessible to signed in users.</p>
    <p>Sign in to take this quiz</p>
{% else %}



    {% if previous.answers %}


      <p class="muted"><small>{% trans "The previous question" %}:</small></p>
      <p>{{ previous.previous_question }}</p>

      {% if previous.previous_outcome %}
        <div class="alert alert-success">
      {% else %}
        <div class="alert alert-warning">
      {% endif %}
          <p><small>
            {% trans "Your answer was" %} </small>
            <strong>
              {{ previous.previous_outcome|yesno:"correct,incorrect" }}
            </strong>
          </p>

        </div>
            </div>

        {% include 'quizzes/correct_answer.html' %}

        <p><strong>{% trans "Explanation" %}:</strong></p>
        <div class="well " style="background-color: #fcf8e3;">
          <p>{{ previous.previous_question.explanation }}</p>
        </div>

        <hr>

    {% endif %}

    <br />


    {% if question %}


        {% if progress %}

            <div style="float: right;">
                {% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
            </div>
        {% endif %}

        <p>
            <small class="muted">{% trans "Question category" %}:</small>
            <strong>{{ question.category }}</strong>
        </p>

        <p class="lead"><strong>{{ question.content }}</strong></p>

    <!--
        <h1>{{question.content}}</h1>

        <strong>Løsningsforslag (dette skal ikke vises "live"): {{question.explanation}}</strong>
    -->




        {% if question.figure %}
            <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
        {% endif %}


        <form action="" method="POST">
            {% csrf_token %}
            <input type=hidden name="answers" value="{{ answer.id }}"> <!-- changed from "question_id" and "{{ question.id}}" -->
            <ul class="list-group">

                <!--
                First name: <input type="text" name="FirstName" value="Mickey"><br>
                -->

                {% for answer in form.question.get_answers %}
                  <li class="list-group-item">
                      {{ answer }}<input type='radio' name='answers' value="{{ answer.id }}"> <!-- had 'guess' before -->


                  </li>
                {% endfor %}

                {{ form.question.get_answers_list }}
            </ul>

        <!--
        <input type="submit" value={% trans "Check" %} class="btn btn-large btn-block btn-warning" >
        -->
            <input type="submit" value="Check" class="btn btn-large btn-block btn-warning" >

            {{form.question.check_if_correct}}


        </form>

    {% endif %}



{% endif %}

<hr>

{% endblock %}