<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'todolist/base.html' %}
    {% load staticfiles %}
    <title>{% block title %} Home {% endblock title %}</title>
</head>

{% block body %}

<!-- This page needs some styling before we show it to the public .. :P
Also in need of a footer and maybe a different navbar?-->

<header id="avatarScreenHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1 class="header-title">{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <!-- Change out row class for something more fitting and that can be styled differently.
    See sketch on drive for how this should look -->

    <!--Upcoming tasks-->
    <div class="row">
        <div class="col-md-6">
            <h1> Upcoming Tasks </h1>
            <div class="panel panel-default">
                <ul class="list-group" id="close_todo_list">
                    {% if close_tasks %}
                    {% for task in close_tasks %}

                    <li class="list-group-item" id="close_todo_list_item" title="Edit"
                        onclick="location.href='/todo/{{task.id}}/edit/'">
                        <h4 class="list-group-item-heading">{{ task.task_text }}
                            {%if task.due_date %}
                            <span class="badge"">Due date: {{ task.due_date }}</span>
                            {% endif %}
                        </h4>
                        <p class="list-group-item-text">{{ task.description|linebreaks }}</p>

                        <div class="buttons">

                            <!-- Archive TODO as "Completed" -->
                            <form action="{% url 'todolist:task_checked' task.id %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                <button type="submit" class="btn btn-info btn-sm" title="Archive">
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </form>

                            <!-- Delete TODO, on click delete TODO -->
                            <form action="{% url 'todolist:delete_task' task.id %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">You have no upcoming tasks</h4>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>

        <!--Quiz notifications-->
        <div class="col-md-6">
            <h1> Quiz Notifications </h1>
            <div class="panel panel-default">
                <!--Make an if else, iterating through new quizzes-->

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"> Quiz notifications go here </h4>
                        <p class="list-group-item-text"> Description </p>
                    </li>
                    {% if quiz_notify %}
                        {% for quiz in quiz_notify %}
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading"> {{ quiz.title }} </h4>
                                <p class="list-group-item-text"> {{ quiz.description }} </p>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"> Heading </h4>
                        <p class="list-group-item-text"> Description </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"> Heading </h4>
                        <p class="list-group-item-text"> Description </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- This is the overdue tasks -->
    <div class="row">
        <div class="col-md-6">
            <h1> Overdue Tasks </h1>

            <div class="panel panel-default">
                <ul class="list-group" id="todo_list">
                    {% if overdue_tasks %}
                    {% for task in overdue_tasks %}
                    <li class="list-group-item" id="todo_list_item" title="Edit"
                        onclick="location.href='/todo/{{task.id}}/edit/'">
                        <h4 class="list-group-item-heading">{{ task.task_text }}
                            {%if task.due_date %}
                            <span class="badge" style="background-color: #ff0000;">Due date: {{ task.due_date }}</span>
                            {% endif %}
                        </h4>
                        <p class="list-group-item-text">{{ task.description|linebreaks }}</p>

                        <div class="buttons">

                            <!-- Archive TODO as "Completed" -->
                            <form action="{% url 'todolist:task_checked' task.id %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                <button type="submit" class="btn btn-info btn-sm" title="Archive">
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </form>

                            <!-- Delete TODO, on click delete TODO -->
                            <form action="{% url 'todolist:delete_task' task.id %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">You have no overdue tasks</h4>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock body %}
</html>