<!DOCTYPE html>
<html lang="en">
{% extends 'todolist/base.html' %}
{% block title %} My TODOs {% endblock %}

{% block body %}
    <!-- All content for sub-pages goes between these block tags -->

<h1> Tasks </h1>

{% if all_tasks %}
<ul xmlns="http://www.w3.org/1999/html">
    {% for task in all_tasks %}
        <li>
            {{ task.task_text}} -- {{ task.description }}
            <form action="{% url 'todolist:delete_task' task.id %}" method="post" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"/></button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <p><a href="{% url 'todolist:make_task' %}"> Add a task </a></p>
{% else %}
    <p> Nothing here!! :( Yet ...  </p>
    <p><a href="{% url 'todolist:make_task' %}"> Add your first task! </a></p>
{% endif %}

{% if error_message %}
    <p> Error message </p>
{% endif %}

<!-- End of body -->
{% endblock %}

